h1,
h2,
h3,
h4,
p{
    font-family:verdana;
}
body{
    display: inline;
    font-family:verdana;
}

.add-btn{
    height: 40px;
    width: 50px;
    color: #FFFFFF;
    background-color: #03d603;
    border: 1px solid #029902;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.add-btn:hover{
    color:  #029902;
    background-color: #00ff002f;
    border: 1px solid #029902;
    border-radius: 5px;
}

.add-btn:focus{
    color:  #029902;
    background-color: #00ff002f;
    border: 1px solid #029902;
    border-radius: 5px;
}

.form-feild{
    height: 40px;
    width: 200px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.view-btn{
    height: 40px;
    width: 80px;
    color: #FFFFFF;
    background-color: #3b5fff;
    border: 1px solid #032bda;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.view-btn:hover{
    color: #032bda;
    background-color:#002efc38;
    border: 1px solid #032bda;
    border-radius: 5px;
}

.view-btn:focus{
    color: #032bda;
    background-color:#002efc38;
    border: 1px solid #032bda;
    border-radius: 5px;
}