{% extends "template.html" %} {% block body %}

<h2>Add To Table</h2>

<h3>Enter ur Username and password:</h2>
    <form action="/insert" method="POST">
        <input type="text" name="username" id="username" placeholder="Username" class="form-feild"><br>
        <input type="password" name="password" id="password" placeholder="Password" class="form-feild"><br>
        <button type="submit" class="add-btn">Add</button>
    </form>
    <br>
    <a href="/users" class="view-btn">View Users</a> {% endblock %}